header
  h1 gulp boilerplate
  a(href="https://twitter.com/share", class="twitter-share-button", data-url="https://github.com/jh3y/gulp-boilerplate", data-text="Gulp Boilerplate", data-hashtags="gulp, boilerplate, frontenddev") Tweet
    script.
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
