doctype
<!--[if lt IE 7]> <html class="no-js ie lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]> <html class="no-js ie lt-ie9 lt-ie10 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]> <html class="no-js ie lt-ie9 lt-ie10" lang="en"> <![endif]-->
<!--[if IE 9]> <html class="no-js ie lt-ie10" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
head
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  title gulp boilerplate
  meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=0, maximum-scale=1.0")
  meta(name="description", content="a boilerplate for gulp")
  link(rel="stylesheet", href="css/gulp-boilerplate.min.css")
body.bg--lilac.tx--white.tx--center
  <!--[if lt IE 9]>
  <p class="browsehappy">
  You are using an
  <strong>outdated</strong> browser. Please
  <a href="http://browsehappy.com/">upgrade your browser</a>
  to improve your experience.
  </p>
  <![endif]-->
  include header
  block content
  include footer
  script(src="js/require.js")
  script.
    requirejs.config({
      baseUrl: 'js',
      shim: {
        'underscore': {
          exports: '_'
        },
        'backbone': {
          deps: ['underscore', 'jquery'],
          exports: 'Backbone'
        }
      }
    })

  script.
    require(['view/Company/CompanyShow'], function (CompanyShow) {
      new CompanyShow().render();
    });

    require(['view/Company/CompanyList'], function (CompanyList) {
      new CompanyList().render();
    });